<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Namma Khasak. Khasakkinte Ithihasam Drama at Bangalore / 6-8th May, 2016 / Christ School Ground</title>

    <!-- Custom CSS -->
    <link href="./css/app.css" rel="stylesheet">

    <!-- Custom Fonts -->
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
    <div class="custom-menu-wrapper" id="menu">        
        <div class="contain">
            <div class="menu-left">
                <div class="o-menu">
                    <ul class="o-menu__list">
                        <li class="o-menu__item">
                            <a href="#" class="o-menu__heading o-menu__link u-brand">
                                <img class="o-brand" src="./img/logo-small.png" alt="Namma Khasak"/></a></li>
                        <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
                    </ul>
                </div>
            </div>
            <div class="menu-right">
                <ul class="o-menu__list o-menu--horizontal custom-can-transform">
                    <li class="o-menu__item"><a href="#about" class="o-menu__link">About</a></li>
                    <li class="o-menu__item"><a href="#services" class="o-menu__link">The Drama</a></li>
                    <li class="o-menu__item"><a href="#orgn" class="o-menu__link">Organizers</a></li>
                    <li class="o-menu__item"><a href="#sponsers" class="o-menu__link">Sponsers</a></li>
                </ul>
                <span class="lang"><a href="/">EN</a>|<a href="/ml.html">ML</a></span>
            </div>
        </div>
    </div>