<div id="organisors" class="container half-container">
  <h3 class="o-section__title">Organizers</h3>
  <div class="contain">
    <div class="u-clearfix">
      <div class="cols">
        <h4>NECAB</h4>
        <img src="" alt="">
        <p>NSS Engineering College has been functional for more than 50 years and is situated at Palakkad, Kerala. Its alumni have achieved high degree of success in various fields and is active in various social programs across the globe. NECAB - NSS Engineering College Alumni Bangalore - aims at promoting interaction and networking between its members, supporting art and cultural activities in Bangalore and also helping the deserving through programs aimed at social intervention. <br> A decade since its inception, NECAB has emerged as one of the most vibrant Alumni Associations in Bangalore. Our bonding has been intrinsic and natural, connected by the common thread that is the Institution that contributed in making us what we are today.</p>
      </div>
      <div class="cols">
        <h4>Blue Ocean Theatre</h4>
        <img src="" alt="">
        <p>Blue Ocean is a startup theater group, launched by a group of acclaimed film and theater artists with a common vision of offering fine quality theatre experience to the drama lovers around the world. As the name indicates, Blue Ocean’s aim is to explore unchartered waters to deliver a fresh theatre going experience to the audience. Their philosophy is simple: If they enjoy making it, the audience will most certainly enjoy watching it!</p>
      </div>
    </div>
  </div>

  <h3 class="o-section__title">The Cause</h3>
  <p>NECAB and Blue Ocean Theatre aims to present an unparalleled theatre experience to the drama lovers of Bangalore by hosting a classic play in the best possible manner and to raise a significant fund to fund the rehabilitation of Endosulfan affected people of Kasaragod through ENVISAG and for NECAB’s Social Obligation Program that government schools in Bengaluru </p>

  <h5>Others</h5>
  <!-- <ul class="o-org">
    <li class="o-org__item">Organization 1</li>
    <li class="o-org__item">Organization 2</li>
    <li class="o-org__item">Organization 3</li>
    <li class="o-org__item">Organization 4</li>
    <li class="o-org__item">Organization 5</li>
    <li class="o-org__item">Organization 6</li>
    <li class="o-org__item">Organization 7</li>
    <li class="o-org__item">Organization 8</li>
    <li class="o-org__item">Organization 9</li>
    <li class="o-org__item">Organization 10</li>
  </ul> -->
</div>

<!-- <div id="sponsors" class="container half-container">
  <div class="u-clearfix">
    <h3 class="o-section__title">Sponsors</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, debitis, sunt. Eos quibusdam dolor architecto culpa corporis, exercitationem reiciendis vero, reprehenderit quisquam magni atque esse asperiores saepe eius illo ipsa.</p>
    <div class="cols">
      <span>Gold sponsors</span>
      <h4>Khasaqinde Ithihasam</h4>      
      <img src="http://placehold.it/300x80" alt="" class="img-responsive">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis pariatur, vitae fugit quasi quia expedita debitis placeat blanditiis ratione, magnam voluptate asperiores illum laboriosam praesentium sint consequuntur repudiandae id natus.</p>
    </div>
    <div class="cols">
      <span>Silver  sponsors</span>
      <h4>Stephan Man</h4>
      <img src="http://placehold.it/300x80" alt="" class="img-responsive">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis pariatur, vitae fugit quasi quia expedita debitis placeat blanditiis ratione, magnam voluptate asperiores illum laboriosam praesentium sint consequuntur repudiandae id natus.</p>
    </div>
  </div>

  <hr> -->

  <!-- <h3 class="o-section__title">Patrons</h3>
  <ul class="o-patron">
    <li class="o-patron__list">        
      <img class="o-patron__img" src="./img/patron-dummy.jpg" alt="">
      <h4 class="o-patron__name">Partron 1</h4>
      <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
    </li>
    <li class="o-patron__list">
      
      <img class="o-patron__img" src="./img/patron-dummy.jpg" alt="">
      <h4 class="o-patron__name">Partron 2</h4>
      <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
    </li>
    <li class="o-patron__list">
      
      <img class="o-patron__img" src="./img/patron-dummy.jpg" alt="">
      <h4 class="o-patron__name">Partron 3</h4>
      <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
    </li>
    <li class="o-patron__list">
      
      <img class="o-patron__img" src="./img/patron-dummy.jpg" alt="">
      <h4 class="o-patron__name">Partron 4</h4>
      <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
    </li>
    <li class="o-patron__list">        
      <img class="o-patron__img" src="./img/patron-dummy.jpg" alt="">
      <h4 class="o-patron__name">Partron 5</h4>
      <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
    </li>
    <li class="o-patron__list">        
      <img class="o-patron__img" src="./img/patron-dummy.jpg" alt="">
      <h4 class="o-patron__name">Partron 6</h4>
      <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
    </li>
    <li class="o-patron__list">        
      <img class="o-patron__img" src="./img/patron-dummy.jpg" alt="">
      <h4 class="o-patron__name">Partron 7</h4>
      <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
    </li>
    <li class="o-patron__list">        
      <img class="o-patron__img" src="./img/patron-dummy.jpg" alt="">
      <h4 class="o-patron__name">Partron 8</h4>
      <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
    </li>
  </ul>
</div>

<div id="organisors" class="container half-container">
  <div class="contain">
    <h3 class="heading">Event Data</h3>
    <div class="contain">
      <div class="cols">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ut, commodi inventore. Deleniti eligendi sunt earum, beatae a veritatis, facilis totam iste, mollitia eum dolor quisquam veniam corporis eaque consectetur.</p>
      </div>
      <div class="cols">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ut, commodi inventore. Deleniti eligendi sunt earum, beatae a veritatis, facilis totam iste, mollitia eum dolor quisquam veniam corporis eaque consectetur.</p>
      </div>
    </div>
  </div>
</div> -->