<div id="organisors" class="container half-container">
  <h3 class="o-section__title">Organizers</h3>
  <div class="contain">
    <div class="u-clearfix">
      <div class="cols">
        <h4>Foundation 1</h4>
        <img src="" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis pariatur, vitae fugit quasi quia expedita debitis placeat blanditiis ratione, magnam voluptate asperiores illum laboriosam praesentium sint consequuntur repudiandae id natus.</p>
      </div>
      <div class="cols">
        <h4>Foundation 2</h4>
        <img src="" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis pariatur, vitae fugit quasi quia expedita debitis placeat blanditiis ratione, magnam voluptate asperiores illum laboriosam praesentium sint consequuntur repudiandae id natus.</p>
      </div>
    </div>
  </div>

  <h3 class="o-section__title">The Cause</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ipsam blanditiis, tempora corporis quas repellendus unde iusto impedit quae culpa voluptas omnis enim nostrum autem a eum deserunt doloremque cum.</p>

  <h5>Others</h5>
  <ul class="o-org">
    <li class="o-org__item">Organization 1</li>
    <li class="o-org__item">Organization 2</li>
    <li class="o-org__item">Organization 3</li>
    <li class="o-org__item">Organization 4</li>
    <li class="o-org__item">Organization 5</li>
    <li class="o-org__item">Organization 6</li>
    <li class="o-org__item">Organization 7</li>
    <li class="o-org__item">Organization 8</li>
    <li class="o-org__item">Organization 9</li>
    <li class="o-org__item">Organization 10</li>
  </ul>

</div>

<div id="sponsors" class="container half-container">
  <hr>
  <div class="u-clearfix">
    <h3 class="o-section__title">Sponsors</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, debitis, sunt. Eos quibusdam dolor architecto culpa corporis, exercitationem reiciendis vero, reprehenderit quisquam magni atque esse asperiores saepe eius illo ipsa.</p>
    <div class="cols">
      <span>Gold sponsors</span>
      <h4>Khasaqinde Ithihasam</h4>      
      <p>
        <img class="o-patron__d" src="/img/patron-dummy.jpg" alt="">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis pariatur, vitae fugit quasi quia expedita debitis placeat blanditiis ratione, magnam voluptate asperiores illum laboriosam praesentium sint consequuntur repudiandae id natus.</p>
    </div>
    <div class="cols">
      <span>Silver  sponsors</span>
      <h4>Stephan Man</h4>
      <img src="" alt="">
      <p>
        <img class="o-patron__d" src="/img/patron-dummy.jpg" alt="">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis pariatur, vitae fugit quasi quia expedita debitis placeat blanditiis ratione, magnam voluptate asperiores illum laboriosam praesentium sint consequuntur repudiandae id natus.</p>
    </div>
  </div>

  <hr>

  <h3 class="o-section__title">Patrons</h3>
    <ul class="o-patron">
      <li class="o-patron__list">        
        <img class="o-patron__img" src="/img/patron-dummy.jpg" alt="">
        <h4 class="o-patron__name">Partron 1</h4>
        <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
      </li>
      <li class="o-patron__list">
        
        <img class="o-patron__img" src="/img/patron-dummy.jpg" alt="">
        <h4 class="o-patron__name">Partron 2</h4>
        <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
      </li>
      <li class="o-patron__list">
        
        <img class="o-patron__img" src="/img/patron-dummy.jpg" alt="">
        <h4 class="o-patron__name">Partron 3</h4>
        <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
      </li>
      <li class="o-patron__list">
        
        <img class="o-patron__img" src="/img/patron-dummy.jpg" alt="">
        <h4 class="o-patron__name">Partron 4</h4>
        <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
      </li>
      <li class="o-patron__list">        
        <img class="o-patron__img" src="/img/patron-dummy.jpg" alt="">
        <h4 class="o-patron__name">Partron 5</h4>
        <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
      </li>
      <li class="o-patron__list">        
        <img class="o-patron__img" src="/img/patron-dummy.jpg" alt="">
        <h4 class="o-patron__name">Partron 6</h4>
        <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
      </li>
      <li class="o-patron__list">        
        <img class="o-patron__img" src="/img/patron-dummy.jpg" alt="">
        <h4 class="o-patron__name">Partron 7</h4>
        <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
      </li>
      <li class="o-patron__list">        
        <img class="o-patron__img" src="/img/patron-dummy.jpg" alt="">
        <h4 class="o-patron__name">Partron 8</h4>
        <span class="o-patron__bio">Omnis quia quisquam ad maiores nisi asperiores eligendi beatae expedita in iste accusamus repudiandae consectetur, cupiditate deserunt</span>
      </li>
    </ul>
</div>

<div id="organisors" class="container half-container">
  <div class="contain">
    <h3 class="heading">Event Data</h3>
    <div class="contain">
      <div class="cols">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ut, commodi inventore. Deleniti eligendi sunt earum, beatae a veritatis, facilis totam iste, mollitia eum dolor quisquam veniam corporis eaque consectetur.</p>
      </div>
      <div class="cols">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ut, commodi inventore. Deleniti eligendi sunt earum, beatae a veritatis, facilis totam iste, mollitia eum dolor quisquam veniam corporis eaque consectetur.</p>
      </div>
    </div>
  </div>
</div>
