<div class="fullSliderImage">
	<div class="image"></div>
	<div class="tagline-holder">
    <div class="contain">
      <div class="o-sponsors">
        <div class="o-sponsors__main u-clearfix">
          <div class="o-sponsors__item">
            <img src="http://placehold.it/120x30" alt="">
            <span class="u-and">&amp;</span>
          </div>
          <div class="o-sponsors__item">
            <img src="http://placehold.it/120x30" alt="">
          </div>
        </div>
        <div class="o-sponsors__secd u-clearfix">
          <h3 class="o-sponsors__title">in association with</h3>
          <div class="o-sponsors__item">
            <img src="http://placehold.it/120x30" alt="">
            <span class="u-and">&amp;</span>
          </div>
          <div class="o-sponsors__item">
            <img src="http://placehold.it/120x30" alt="">
          </div>
          <div class="o-sponsors--large">
            <h3 class="o-sponsors__title o-sponsors__title--large">presents</h3>
          </div>
        </div>
        
      </div>
      <img class="slider__title" src="./img/title-card.png" width="250px" alt="">
      <div class="u-clearfix">
          <div class="o-venue">
            <span class="o-venue__date"> 6th - 8th of May 2016</span>
            <address class="o-venue__venue">Christ College Ground, BENGALURU</address>
            <!-- <a href="#waiting" class="btn btn-cto">Book Now</a> -->
          </div>
      </div>
  	</div>
  </div>
</div>