@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

/* Rachana */

@font-face {
    font-family: 'Rachana';
    font-style: normal;
    font-weight: 400;
    src: url(https://smc.org.in/downloads/fonts/rachana/Rachana-Regular.woff2?v=7.0) format('woff2'), url(https://smc.org.in/downloads/fonts/rachana/Rachana-Regular.woff?v=7.0) format('woff'), url(https://smc.org.in/downloads/fonts/rachana/Rachana-Regular.ttf?v=7.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D;
}


/* Rachana Bold*/

@font-face {
    font-family: 'Rachana';
    font-style: normal;
    font-weight: 700;
    src: url(https://smc.org.in/downloads/fonts/rachana/Rachana-Bold.woff2?v=2.0) format('woff2'), url(https://smc.org.in/downloads/fonts/rachana/Rachana-Bold.woff?v=2.0) format('woff'), url(https://smc.org.in/downloads/fonts/rachana/Rachana-Bold.ttf?v=2.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D;
}